@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.main-heading{
	font-size: 23px;
	font-weight: 400;
	padding: 9px 0 4px 0;
	line-height: 1.3;
	font-family: 'Open Sans', sans-serif;
}
.table td, .table th{
	font-size: 14px;
	padding: .5rem !important;
}
.table th{
	font-weight: 600;
}
.table-responsive {
	padding-right: 20px;
}
#formpost .error{
	color: red;
}